$calculatorColorLight: lightgray;
$calculatorColorDark: rgb(80, 80, 80);
$backGroundDisplayLight: linear-gradient(180deg, rgb(201, 201, 201), rgb(221, 221, 221));
$backGroundDisplayDark: linear-gradient(180deg, rgb(85, 85, 85), rgb(95, 95, 95));
$buttonColorLight: $calculatorColorLight;
$buttonColorDark: dimgray;
$buttonNumberColorLight: rgb(190, 190, 190);
$buttonNumberColorDark: rgb(65, 65, 65);
$buttonOperatorColorLight: tomato;
$buttonOperatorColorDark: orange;

* {
    font-size: 16px;
}

#calculator {
    display: inline-block;
    padding: 20px 5px 5px;
}

.calculator_light {
    background-color: $calculatorColorLight;
    color: #565656;
}

.calculator_dark {
    background-color: $calculatorColorDark;
    color: white;
}

#button_dark {
    background-color: $calculatorColorDark;
    color: white;
}

#display {
    width: 100%;
    height: 60px;
    margin: 20px auto;
    overflow: hidden;
}

.display_light {
    background: $backGroundDisplayLight;
    color: #565656;
}

.display_dark {
    background: $backGroundDisplayDark;
    color: white;
}

#display span {
    float: right;
    font-size: 55px;
    margin: 0 10px;
}

#keyword {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(5, 60px);
}

button {
    border: 1px solid rgb(150, 150, 150);
    padding: 5px;
    border-radius: 3px;
}

.button_light {
    background-color: $buttonColorLight;
}

.button_dark {
    background-color: $buttonColorDark;
    color: white;
    border: 1px solid rgb(120, 120, 120);
}

button:hover,
#button_dark:hover {
    background-color: rgb(218, 253, 255);
    color: #565656;
}

button:nth-child(47) {
    grid-column-start: 7;
    grid-column-end: 9;
}

.number_light {
    background-color: $buttonNumberColorLight;
}

.number_dark {
    background-color: $buttonNumberColorDark;
}

.operator_light {
    background-color: $buttonOperatorColorLight;
}

.operator_dark {
    background-color: $buttonOperatorColorDark;
}
